.pawoo-extension-error__top-link {
  color: white;
  font-size: 14px;
}

.error {
  a.dialog__illustration {
    display: block;

    img {
      margin-top: 0;
    }
  }

  .dialog__message {
    margin: 20px 0;
  }
}
