.column {
  flex: 1 0 350px;
  max-width: 600px;
}

.pawoo-extension-standalone-community {
  display: inline-block;

  svg.pawoo-svg-logo {
    fill: currentColor;
    margin-right: 8px;
    vertical-align: bottom;
    height: 34px;
    margin-top: -8px;
    margin-bottom: -6px;
  }
}

.pawoo-extension-drawer__inner__mastodon--animation {
  animation: pawoo-extension-drawer__inner__mastodon--animation-keyframes 1s;
}

@keyframes pawoo-extension-drawer__inner__mastodon--animation-keyframes {
  0% { transform: scale(0.5); }
  50% { transform: scale(1); }
  100% { transform: scale(0.5); }
}

.pawoo-extension-drawer__inner__mastodon.drawer__inner__mastodon {
  min-height: 94px;

  > * {
    transform-origin: bottom left;
    transform: scale(0.5);
  }
}

.drawer__inner__mastodon {
  background: none; // 象の上のギザギザ無効
}

.account__header__tabs__name {
  display: flex;
  align-items: center;

  .pawoo-account__header__oauth-authentications {
    margin-left: auto;
  }
}

